       /* Payment Button Styling */
       .pay-button {
        padding: 10px 20px;
        margin: 10px;
        font-size: 18px;
        cursor:pointer;
        border: none;
        background-color: #0a74da;
        color: white;
        border-radius: 5px;
        font-weight: bold;
    }
    
            .pay-button:hover {
                background-color: #6a00cc;
            }
    
            .button-wrapper {
                text-align: center;
            }